@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 550px){
    html{
        font-size: 12px;
    }
}
@media (max-width: 400px){
    html{
        font-size: 10px;
    }
}
@media (max-width: 350px){
    html{
        font-size: 8px;
    }
}

@media (width > 1024px){
    html{
        font-size: 18px;
    }
}
@media (width > 1500px){
    html{
        font-size: 20px;
    }
}

.footerLi{
   @apply text-sm text-gray-400 hover:text-blue-500 mb-2;
}

html {
    scroll-behavior: smooth;
}
  