@media(width < 1024px){
    #aboutUsContent{
        flex-direction: column-reverse;
    }
}

.aboutUsHeading, .aboutUsSubHeading{
    font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.aboutUsSecondDiv{
    background-image: url("/img/super-man-bg-low-opacity.png");
}