@media(width < 1232px) {
    #upperFooter{
        flex-direction: column;
    }
    #upperFooter ul, #upperFooter img{
        margin-bottom: 24px;
    }
}

@media(width < 800px){
    #lowerFooter{
        flex-direction: column;
    }
    #lowerFooter p {
        margin-bottom: 16px;
    }
}