#home {
  background-image: url("/bg-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

@font-face {
  font-family: 'CoubraFont';
  src: url('../assets/fonts/CoubraFont.woff2') format('woff2'),
       url('../assets/fonts/CoubraFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.homeText {
  font-family: 'CoubraFont', sans-serif;
  -webkit-text-stroke: 0px white;
  /* Modern browsers */
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  /* Fallback for older browsers */
  letter-spacing: 0.1rem;
  /* font-size: rem; */
}

.homeTextRed{
  color: #DE2104;
}