#home {
  background-image: url("/bg-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.homeText {
  font-size: 5rem;
  font-family: "Road Rage", serif;
  font-weight: 600;
  font-style: normal;
  color: black;
  /* Text color */
  -webkit-text-stroke: 0px white;
  /* Modern browsers */
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  /* Fallback for older browsers */
  /* letter-spacing: 0.1rem; */
}