#home{
    background-image: url("/bg-img2.jpg");
    background-position: center;
    background-size:contain;
    height: 100vh;
}

.homeText{
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
    color: black; /* Text color */
    -webkit-text-stroke: 0px white; /* Modern browsers */
    text-shadow: 
        -1px -1px 0 white, 
        1px -1px 0 white, 
        -1px 1px 0 white, 
        1px 1px 0 white; /* Fallback for older browsers */
}
